<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="log4net.Internal.Debug" value="true"/>
    <add key="ConnectionString" value="Data Source=WANGJUN\WANGJUN;Initial Catalog=dushu_2008;Persist Security Info=True;User ID=sa;Password=123456;Pooling=true;MAX Pool Size=512;Min Pool Size=50;Connection Lifetime=30"/>
  </appSettings>
</configuration>