<?xml version="1.0" ?>

<!-- Note: As an alternative to manually editing this file you can use the web admin tool to
     configure settings for your application. Use the Website->ASP.NET Configuration option 
     in Visual Studio.
     A full list of settings and comments can be found in machine.config.comments usually
     located in \Windows\Microsoft.NET\Framework\v2.0.xxxxx\Config
 -->

<configuration>
      
    <appSettings />
    <connectionStrings />
        
    <system.web>

        <!-- 
            Set compilation debug="true" to insert debugging symbols into the compiled page.
            Because this affects performance, set this value to true only during development.
        -->
        <compilation debug="false" />
              

        <!--
            The <authentication> section enables configuration of the security authentication
            mode used by ASP.NET to identify an incoming user. 
        -->
        <authentication mode="Windows" />
       
       
        <!--
            The <customErrors> section enables configuration of what to do if/when an unhandled
            error occurs during the execution of a request.  Specifically, it enables developers
            to configure html error pages to be displayed in place of an error stack trace.
        -->
        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
        <!-- 
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        -->
        </customErrors>
        
        
        <!--
            FULLY QUALIFY URL FOR CLIENT REDIRECTS
            Some mobile devices require that the URL for client redirects be fully qualified.
        -->
        <httpRuntime useFullyQualifiedRedirectUrl="true" />
        
        
        <!--
          SPECIFY COOKIELESS DATA DICTIONARY TYPE
          This will cause the dictionary contents to appear in the local request url querystring.
          This is required for forms authentication to work on cookieless devices.
        -->
        <mobileControls cookielessDataDictionaryType="System.Web.Mobile.CookielessData" />
        
        
        <deviceFilters>
            <filter name="isJPhone" compare="Type" argument="J-Phone" />
            <filter name="isHTML32" compare="PreferredRenderingType" argument="html32" />
            <filter name="isWML11" compare="PreferredRenderingType" argument="wml11" />
            <filter name="isCHTML10" compare="PreferredRenderingType" argument="chtml10" />
            <filter name="isGoAmerica" compare="Browser" argument="Go.web" />
            <filter name="isMME" compare="Browser" argument="Microsoft Mobile Explorer" />
            <filter name="isMyPalm" compare="Browser" argument="MyPalm" />
            <filter name="isPocketIE" compare="Browser" argument="Pocket IE" />
            <filter name="isUP3x" compare="Type" argument="Phone.com 3.x Browser" />
            <filter name="isUP4x" compare="Type" argument="Phone.com 4.x Browser" />
            <filter name="isEricssonR380" compare="Type" argument="Ericsson R380" />
            <filter name="isNokia7110" compare="Type" argument="Nokia 7110" />
            <filter name="prefersGIF" compare="PreferredImageMIME" argument="image/gif" />
            <filter name="prefersWBMP" compare="PreferredImageMIME" argument="image/vnd.wap.wbmp" />
            <filter name="supportsColor" compare="IsColor" argument="true" />
            <filter name="supportsCookies" compare="Cookies" argument="true" />
            <filter name="supportsJavaScript" compare="Javascript" argument="true" />
            <filter name="supportsVoiceCalls" compare="CanInitiateVoiceCall" argument="true" />
        </deviceFilters>

    </system.web>
</configuration>
