<?xml version="1.0" encoding="utf-8" ?>
<objects xmlns="http://www.springframework.net" >
  <description></description>

  <object id="ResourcesDao" type="DuShuDAO.ResourcesDao,DuShuDAO">
    <property name="IBatisMapper" ref="BaseMapper"/>
  </object>
  <object id="ResourcesService" type="DuShu.BLL.ResourcesService, DuShu.BLL">
    <property name="ResourcesDao" ref="ResourcesDao"></property>
  </object>

</objects>
