<?xml version="1.0" encoding="utf-8" ?>
<!--namespace必须用否者就报错（读取配置文件报：未将对象引用设置到对象的实例）-->
<sqlMap namespace="" xmlns="http://ibatis.apache.org/mapping" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <statements>
        <select id="GetGY_ResourcesById" parameterClass="string" resultClass="HashTable">
            select * from GY_Resources where ResourceId=#ResourceId#
        </select>
        <insert id="Add" parameterClass="hashtable">
           insert into GY_Resources values (#ResourceId#,#ParentId#,#ResourceName#,#SortIndex#,#Describe#,#UrlLink#,
            #Status#,#CreatedBy#,#CreatedByName#,#CreatedTime#,#ModifiedBy#,#ModifiedByName#,#ModifiedTime#)
        </insert>
        <delete id="Delete" parameterClass="Guid" restultClass="int">
            delete from GY_Resources where ResourceId=#ResourceId#
        </delete>
        <update id="Update" parameterClass="hashtable" restltClass="int">
            update GY_Resources set ParentId=#ParentId#,ResourceName=#ResourceName#,SortIndex=#SortIndex#,Describe=#Describe#,
UrlLink=#UrlLink#,Status=#Status#,ModifiedBy=#ModifiedBy#,ModifiedByName=#ModifiedByName#,ModifiedTime=#ModifiedTime#
where ResourceId=#ResourceId#
        </update>
        <select id="GetAll" resultClass="HashTable">
            SELECT * FROM GY_Resources
        </select>
    </statements>
</sqlMap>

