<?xml version="1.0" encoding="utf-8" ?>
<!--namespace必须用否者就报错（读取配置文件报：未将对象引用设置到对象的实例）-->
<sqlMap namespace="" xmlns="http://ibatis.apache.org/mapping" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <statements>
        <select id="GetGY_ResourcesById" parameterClass="string" resultClass="HashTable">
            SELECT * FROM GY_Resources WHERE ResourceId=#ResourceId#
        </select>
        <insert id="Add" parameterClass="hashtable">
           insert into GY_Resources  values(#ResourceId#,#ParentId#,#Type#,#Name#,#Alias#,#Enabled#,#CreatedTime#,#SortIndex#)
        </insert>
        <delete id="Delete" parameterClass="Guid" restultClass="int">
            DELETE FROM dbo.GY_Resources WHERE ResourceId=#ResourceId#
        </delete>
        <update id="Update" parameterClass="hashtable" restltClass="int">
            update UserInfo set ParentId=#ParentId#,Type=#Type#,Name=#Name#,Alias=#Alias#,Enabled=#Enabled#,CreatedTime=#CreatedTime#,SortIndex=#SortIndex# where ResourceId=#ResourceId#
        </update>
        <select id="GetAll" resultClass="HashTable">
            SELECT * FROM GY_Resources
        </select>
    </statements>
</sqlMap>

