<?xml version="1.0" encoding="utf-8" ?>
<sqlMap namespace="" xmlns="http://ibatis.apache.org/mapping" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <statements>
        <select id="GetGY_RolesById" parameterClass="string" resultClass="HashTable">
            SELECT * FROM GY_Roles WHERE RoleId=#RoleId#
        </select>
        <insert id="Add" parameterClass="hashtable">
           insert into GY_Roles  values(#RoleId#,#ParentId#,#IsInheritable#,#RoleName#,#Comment#,#BeginTime#,#EndTime#,#CreatedTime#,#LastModTime#,#CreatedBy#,#CreatedByName#,#ModifiedBy#,#ModifiedName#,#SortOrder#)
        </insert>
        <delete id="Delete" parameterClass="int" restultClass="int">
            DELETE FROM dbo.GY_Roles WHERE RoleId=#RoleId#
        </delete>
        <update id="Update" parameterClass="hashtable" restltClass="int">
            update UserInfo set ParentId=#ParentId#,IsInheritable=#IsInheritable#,RoleName=#RoleName#,Comment=#Comment#,BeginTime=#BeginTime#,EndTime=#EndTime#,CreatedTime=#CreatedTime#,LastModTime=#LastModTime#,CreatedBy=#CreatedBy#,CreatedByName=#CreatedByName#,ModifiedBy=#ModifiedBy#,ModifiedName=#ModifiedName#,SortOrder=#SortOrder# where RoleId=#RoleId#
        </update>
        <select id="GetAll" resultClass="HashTable">
            SELECT * FROM GY_Roles
        </select>
    </statements>
</sqlMap>