<?xml version="1.0" encoding="utf-8" ?>
<!--namespace必须用否者就报错（读取配置文件报：未将对象引用设置到对象的实例）-->
<sqlMap namespace="" xmlns="http://ibatis.apache.org/mapping" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <statements>
        <select id="GetGY_UsersById" parameterClass="string" resultClass="HashTable">
            SELECT * FROM GY_Users WHERE UserID=#UserID#
        </select>
        <insert id="Insert" parameterClass="hashtable">
           insert into GY_Users  values(#UserID#,#NickName#,#UserName#,#UserPwd#,#Email#,#Phone#,#UserType#,#Describe#,#Status#,#CreatedBy#,#CreatedByName#,#CreatedTime#,#ModifiedBy#,#ModifiedByName#,#ModifiedTime#)
        </insert>
        <delete id="Delete" parameterClass="int" restultClass="int">
            DELETE FROM dbo.GY_Users WHERE UserID=#UserID#
        </delete>
        <update id="Update" parameterClass="hashtable" restltClass="int">
            update UserInfo set NickName=#NickName#,UserName=#UserName#,UserPwd=#UserPwd#,Email=#Email#,Phone=#Phone#,UserType=#UserType#,Describe=#Describe#,Status=#Status#,CreatedBy=#CreatedBy#,CreatedByName=#CreatedByName#,CreatedTime=#CreatedTime#,ModifiedBy=#ModifiedBy#,ModifiedByName=#ModifiedByName#,ModifiedTime=#ModifiedTime# where UserID=#UserID#
        </update>
        <select id="GetAll" resultClass="HashTable">
            SELECT * FROM GY_Users
        </select>
    </statements>
</sqlMap>

