<?xml version="1.0" encoding="utf-8" ?>
<!--namespace必须用否者就报错（读取配置文件报：未将对象引用设置到对象的实例）-->
<sqlMap namespace="DuShu.Model.Resources" xmlns="http://ibatis.apache.org/mapping" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <alias>
    <typeAlias alias="ResourcesInfo" type="DuShu.Model.Resources,DuShu.Model" />
  </alias>
  <resultMaps>
    <resultMap id="ResourcesInfo_Result" class="ResourcesInfo" >
      <result property="ResourceId" column="ResourceId"/>
      <result property="ParentId" column="ParentId"/>
      <result property="ResourceName" column="ResourceName"/>
      <result property="SortIndex" column="SortIndex"/>
      <result property="Describe" column="Describe"/>
      <result property="UrlLink" column="UrlLink"/>
      <result property="Status" column="Status"/>
      <result property="CreatedBy" column="CreatedBy"/>
      <result property="CreatedByName" column="CreatedByName"/>
      <result property="CreatedTime" column="CreatedTime"/>
      <result property="ModifiedBy" column="ModifiedBy"/>
      <result property="ModifiedByName" column="ModifiedByName"/>
      <result property="ModifiedTime" column="ModifiedTime"/>

    </resultMap>
  </resultMaps>
  <statements>
    <select id="GetResourcesById" parameterClass="ResourcesInfo" resultMap="ResourcesInfo_Result">
      SELECT * FROM GY_Resources WHERE ResourceId=#ResourceId#
    </select>
    <insert id="InsertResources" parameterClass="ResourcesInfo">
      INSERT INTO  GY_Resources  VALUES(#ResourceId#,#ParentId#,#ResourceName#,#SortIndex#,#Describe#,#UrlLink#,#Status#,#CreatedBy#,#CreatedByName#,#CreatedTime#,#ModifiedBy#,#ModifiedByName#,#ModifiedTime#)
    </insert>
    <delete id="DeleteResources" parameterClass="ResourcesInfo" restultClass="int">
      DELETE FROM GY_Resources WHERE ResourceId=#ResourceId#
    </delete>
    <update id="UpdateResources" parameterClass="ResourcesInfo" restltClass="int">
      UPDATE GY_Resources SET ParentId=#ParentId#,ResourceName=#ResourceName#,SortIndex=#SortIndex#,Describe=#Describe#,UrlLink=#UrlLink#,Status=#Status#,CreatedBy=#CreatedBy#,CreatedByName=#CreatedByName#,CreatedTime=#CreatedTime#,ModifiedBy=#ModifiedBy#,ModifiedByName=#ModifiedByName#,ModifiedTime=#ModifiedTime# where ResourceId=#ResourceId#
    </update>
    <select id="GetResourcesAll" resultClass="ResourcesInfo">
      SELECT * FROM GY_Resources
    </select>
    <select id="GetResourcesInfo" parameterClass="ResourcesInfo" resultClass="ResourcesInfo">
      SELECT * FROM GY_Resources
      <dynamic prepend="where">
        <isNotEmpty prepend="and" property="ResourceId">
          [ResourceId] = #ResourceId#
        </isNotEmpty>
        <isNotEmpty prepend="and" property="ParentId">
          [ParentId] = #ParentId#
        </isNotEmpty>
        <isNotEmpty prepend="and" property="ResourceName">
          [ResourceName] = #ResourceName#
        </isNotEmpty>
        <isNotEmpty prepend="and" property="SortIndex">
          [SortIndex] = #SortIndex#
        </isNotEmpty>
        <isNotEmpty prepend="and" property="Describe">
          [Describe] = #Describe#
        </isNotEmpty>
        <isNotEmpty prepend="and" property="UrlLink">
          [UrlLink] = #UrlLink#
        </isNotEmpty>
        <isNotEmpty prepend="and" property="Status">
          [Status] = #Status#
        </isNotEmpty>
        <isNotEmpty prepend="and" property="CreatedBy">
          [CreatedBy] = #CreatedBy#
        </isNotEmpty>
        <isNotEmpty prepend="and" property="CreatedByName">
          [CreatedByName] = #CreatedByName#
        </isNotEmpty>
        <isNotEmpty prepend="and" property="CreatedTime">
          [CreatedTime] = #CreatedTime#
        </isNotEmpty>
        <isNotEmpty prepend="and" property="ModifiedBy">
          [ModifiedBy] = #ModifiedBy#
        </isNotEmpty>
        <isNotEmpty prepend="and" property="ModifiedByName">
          [ModifiedByName] = #ModifiedByName#
        </isNotEmpty>
        <isNotEmpty prepend="and" property="ModifiedTime">
          [ModifiedTime] = #ModifiedTime#
        </isNotEmpty>

      </dynamic>
    </select>
    <procedure id="GetResourcesPagingList"  parameterMap="PagingModel" resultMap="ResourcesInfo_Result">
      spPageViewByStr
    </procedure>
  </statements>
</sqlMap>
