<?xml version="1.0" encoding="utf-8" ?>
<!--全局数据库的spring配置-->
<objects xmlns="http://www.springframework.net" >
  <description>db common spring config</description>

  <!--基本库的sqlmapper配置-->
  <object id="BaseMapper" factory-method="Get"  type="GY.Core.DB.SQL.IBatis.CustomSqlMapper,GY.Core" >
    <constructor-arg name="config" value="SqlMap.config"/>
  </object> 

</objects>

