<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig
  xmlns="http://ibatis.apache.org/dataMapper"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!--<properties resource="properties.config"/>-->
  <properties>
    <property key="SQLMaps" value="SQLMaps"/> 
  </properties>
  <settings>
    <setting useStatementNamespaces="false"/>
    <setting cacheModelsEnabled="true" />
    <setting useReflectionOptimizer="true"/>
  </settings>

  <providers embedded="providers.config"/>

  <!-- Database connection information -->
  <database>
    <provider name="sqlServer2.0"/>
    <dataSource name="GY_DataSource" connectionString="Data Source=.;Initial Catalog=DuShu;User ID=sa;Password=password;Persist Security Info=True;" />
  </database> 

  <sqlMaps>
 
    
    <sqlMap resource="${SQLMaps}/Users.config" />
    <sqlMap resource="${SQLMaps}/Roles.config" />
    <sqlMap resource="${SQLMaps}/Resources.config" /> 
    
  </sqlMaps>
</sqlMapConfig>